<footer class="footer">
  <small>
    <%= link_to 'Project CLEO', root_path %>
    by Cloudwerkstatt GmbH
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contactus_path %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>

